<div class="container top-margin">
  <div class="page-header text-center">
    <h3>Upload Photo</h3>
  </div>

  <%= form_for @photo, html: { multipart: true } do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:" %>
        </h2>
        <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-center">
      <div class="form-group image-area">
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
          <%= f.submit 'Upload Photo', class: 'btn btn-primary', :onclick => "$('.loading-screen').show();" %>
      </div>
    </div>
  <% end %>
</div>

<div class="loading-screen">
  <%= loading_screen style: :cube_grid %>
</div>
